$myYellowColor: #fec400;
$myLightBlackColor: rgb(34, 34, 34);
$leftBarWidth: 200px;
.navbar {
  background: $myLightBlackColor;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $myYellowColor;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: $myYellowColor;
}

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}

.dropdown-item.active, .dropdown-item:active {
  color: #212529;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: $myYellowColor;
}

.myFooter {
  background-color: $myLightBlackColor;
  color: rgba(255, 255, 255, .5);
  i {
    font-size: 50px;
  }
  .socialButtonsUL {
    margin: auto;
  }
  .aButton {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    cursor: pointer;
  }
}

.contentDIV {
  text-align: center;

  .home {
    margin: 30px;
    display: inline-block;
    .homeCenterIm {
      position: relative;
      text-transform: uppercase;
      img {
        width: 100%;
        min-width: 730px;
      }
      .saleInfo {
        text-align: left;
        padding: 40px;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 35px;
        background-color: rgba(255, 255, 255, 0.8);
        vertical-align: middle;
        .header {
          //font-weight: lighter;
          font-size: 70px;
        }
        .shopNowButton {
          width: 170px;
          button {
            text-transform: uppercase;
            width: 100%;
          }
        }
      }
    }
  }
}

.shopping {
  width: 100%;
  display: inline-flex;
  .leftbar {
    width: $leftBarWidth;
    padding: 20px;
    text-align: left;
    .header {
      font-size: 20px;
      color: black;
      text-transform: uppercase;
    }
    .smallHeader {
      font-size: 16px;
      color: black;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
      li {
        list-style-type: none;
        a {
          font-size: 16px;
          color: lighten($myLightBlackColor, 20);
          text-decoration: none;
          &:hover {
            color: $myYellowColor;
            cursor: pointer;
          }
        }
      }
      .activePoint {
        font-weight: bolder;
        color: black;
      }
    }
  }
  .productsRightPart {
    width: calc(99% - 200px);
    padding-top: 30px;
    padding-bottom: 30px;

    //.row {
    //  justify-content: center;
    //}
    .card {
      align-items: center;
      justify-content: center;
      min-width: 165px;
      margin-top: 1px;
      //margin-right: auto;
      //margin-left: auto;
      margin-bottom: 1px;

      &:hover {
        z-index: 10;
        background-color: rgba(255, 251, 240, 0.1);
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, .4);
        border: 1px solid $myYellowColor;
      }
      .product-image {
        max-height: 200px;
        object-fit: contain;
        margin: 5px;
      }
      .product-title {
        margin-top: auto;
      }
      .product-buy-button {
        width: 100%;
        height: 35px;
        margin: auto 7px 5px;
      }
    }
    a {
      cursor: pointer;
      &:hover {
        color: $myYellowColor;
        text-decoration: underline;
      }

    }
  }
}
.product-title{
  font-weight: bolder;
}

.product-price {
  //background-color: #fef2b8;
  color: $myLightBlackColor;
  margin: auto 3px 3px;
  padding: 5px;
  border-radius: 1px;
}
.old_price {
  text-decoration: line-through #d21700;
  margin: 0;
  background-color: transparent;
}
.special_price {
  //background-color: #fef2b8;
  color: #d21700;
}

.productPage {
  .backToShopping {
    height: 70px;
    .backButton {
      float: left;
      font-size: 50px;
      margin: 20px;
      cursor: pointer;
    }
  }
  .productInfoPage {
    text-align: left;
    min-height: 500px;
    img {
      max-width: 50%;
      float: left;
      margin: -10px 60px 60px;
      max-height: 400px;
    }

    .product-description {
      margin-top: 20px;
    }
  }

}