.navbar {
  background: #222222; }

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fec400;
  transition: 0.2s; }

.nav-item:hover::after {
  width: 100%; }

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fec400; }

.nav-link {
  padding: 15px 5px;
  transition: 0.2s; }

.dropdown-item.active, .dropdown-item:active {
  color: #212529; }

.dropdown-item:focus, .dropdown-item:hover {
  background: #fec400; }

.myFooter {
  background-color: #222222;
  color: rgba(255, 255, 255, 0.5); }
  .myFooter i {
    font-size: 50px; }
  .myFooter .socialButtonsUL {
    margin: auto; }
  .myFooter .aButton {
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    cursor: pointer; }

.contentDIV {
  text-align: center; }
  .contentDIV .home {
    margin: 30px;
    display: inline-block; }
    .contentDIV .home .homeCenterIm {
      position: relative;
      text-transform: uppercase; }
      .contentDIV .home .homeCenterIm img {
        width: 100%;
        min-width: 730px; }
      .contentDIV .home .homeCenterIm .saleInfo {
        text-align: left;
        padding: 40px;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 35px;
        background-color: rgba(255, 255, 255, 0.8);
        vertical-align: middle; }
        .contentDIV .home .homeCenterIm .saleInfo .header {
          font-size: 70px; }
        .contentDIV .home .homeCenterIm .saleInfo .shopNowButton {
          width: 170px; }
          .contentDIV .home .homeCenterIm .saleInfo .shopNowButton button {
            text-transform: uppercase;
            width: 100%; }

.shopping {
  width: 100%;
  display: inline-flex; }
  .shopping .leftbar {
    width: 200px;
    padding: 20px;
    text-align: left; }
    .shopping .leftbar .header {
      font-size: 20px;
      color: black;
      text-transform: uppercase; }
    .shopping .leftbar .smallHeader {
      font-size: 16px;
      color: black;
      text-transform: uppercase; }
    .shopping .leftbar ul {
      padding: 0; }
      .shopping .leftbar ul li {
        list-style-type: none; }
        .shopping .leftbar ul li a {
          font-size: 16px;
          color: #555555;
          text-decoration: none; }
          .shopping .leftbar ul li a:hover {
            color: #fec400;
            cursor: pointer; }
      .shopping .leftbar ul .activePoint {
        font-weight: bolder;
        color: black; }
  .shopping .productsRightPart {
    width: calc(99% - 200px);
    padding-top: 30px;
    padding-bottom: 30px; }
    .shopping .productsRightPart .card {
      align-items: center;
      justify-content: center;
      min-width: 165px;
      margin-top: 1px;
      margin-bottom: 1px; }
      .shopping .productsRightPart .card:hover {
        z-index: 10;
        background-color: rgba(255, 251, 240, 0.1);
        box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
        border: 1px solid #fec400; }
      .shopping .productsRightPart .card .product-image {
        max-height: 200px;
        object-fit: contain;
        margin: 5px; }
      .shopping .productsRightPart .card .product-title {
        margin-top: auto; }
      .shopping .productsRightPart .card .product-price {
        background-color: #fef2b8;
        color: #222222;
        margin: auto 3px 3px;
        padding: 5px;
        border-radius: 1px; }
      .shopping .productsRightPart .card .old_price {
        text-decoration: line-through #d21700;
        margin: 0;
        background-color: transparent; }
      .shopping .productsRightPart .card .special_price {
        background-color: #fef2b8;
        color: #d21700; }
      .shopping .productsRightPart .card .product-buy-button {
        width: 100%;
        height: 35px;
        margin: auto 7px 5px; }
    .shopping .productsRightPart a {
      cursor: pointer; }
      .shopping .productsRightPart a:hover {
        color: #fec400;
        text-decoration: underline; }

/*# sourceMappingURL=main.css.map */
